body {
  min-height: 100vh;

  .container {
    min-height: calc(93vh - 7px);
  }

  .ant-tag {
    line-height: 14px;
    font-size: 10px;
    height: 16px;
    margin-right: 0!important;
  }

  .flex {
    display: flex;
    height: calc(50vh - 10px);
    justify-content: center;
    align-items: center;
  }
}